<?xml version="1.0" encoding="utf-8"?>
<manifest package="gan.post"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.order.SendActivity">
        </activity>
        <activity android:name=".module.order.OrderActivity">
        </activity>
        <activity android:name=".module.order.FilterActivity">
        </activity>
        <activity android:name=".module.order.DetailActivity">
        </activity>
        <activity android:name=".module.order.ResultActivity">
        </activity>
    </application>

</manifest>
